.main {
  background-color: rgb(145, 135, 51);
  width: 800px;
  height: 1000px;
  /* position: relative; */
}

.static {
  background-color: rgb(69, 201, 172);
  width: 250px;
  height: 200px;
  top: 100px;
  bottom: 110px;
  left: 100px;
  right: 100px;
  z-index: 1;
}

.relative {
  background-color: chartreuse;
  width: 250px;
  height: 200px;
  /* position: relative; */
  /* top: 100px; */
  /* bottom: 150px; */
  /* left: 500px; */
  top: 150px;
}

.absolute {
  background-color: rgb(133, 25, 124);
  width: 250px;
  height: 200px;
  position: absolute;
  z-index: 1;
}
